{% extends 'adm/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<p>Welcome back, {{ username }}!</p>

<h1>Insert {{ table_name }}</h1>


  <form method="POST" action="{{ url_for('crud_insert', table_name=table_name) }}">
    
    <div class="form-group"> 
    {%  for key in campos %} 
      <label for="{{ key }}">{{ key }}</label>
      <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="">
     
    {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form> 
  
{% endblock %}
